#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #FECB40;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;

}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #4046FE;
	text-decoration: none;
	border-right: 1px solid #fff;
	color:black;
background-color:white;

background-image:url(/export/src/florian.lejal/Documents/20110627151349_2000_1600_copy.jpg);
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #09A590;
	box-shadow: 0px 0px 6px #0932A5;
	background-image: url(/export/src/florian.lejal/Documents/20110627151349_2000_1600_copy.jpg);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#edito h2
{
	color: #B7CAFD;
	font-size: 160%;
	margin: 0 0 .5em;
	
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
background-image:url(/export/src/florian.lejal/Documents/swag.gif);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}
body {
color:black;
background-color:orange;
background-image:url(/export/src/florian.lejal/Documents/20110627151349_2000_1600_copy.jpg);
}

#footer
{
	clear: both;
	background: #fff;
	text-align: right;
	padding: 20px;
	height: 1%;
}
